:root {
  --main-color: #757575;
  --second-color: #212121;
  --accent-color: #2196f3;
  --dark-color: #000000;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --light-text-color: #ffffff;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v27-latin_cyrillic-regular.eot");
  src: local(""), url("../fonts/roboto/roboto-v27-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin_cyrillic-regular.svg#Roboto") format("svg");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v27-latin_cyrillic-500.eot");
  src: local(""), url("../fonts/roboto/roboto-v27-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin_cyrillic-500.svg#Roboto") format("svg");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v27-latin_cyrillic-700.eot");
  src: local(""), url("../fonts/roboto/roboto-v27-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin_cyrillic-700.svg#Roboto") format("svg");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/roboto-v27-latin_cyrillic-900.eot");
  src: local(""), url("../fonts/roboto/roboto-v27-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v27-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto/roboto-v27-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto/roboto-v27-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto/roboto-v27-latin_cyrillic-900.svg#Roboto") format("svg");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/raleway-v19-latin_cyrillic-700.eot");
  src: local(""), url("../fonts/raleway/raleway-v19-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-v19-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway/raleway-v19-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway/raleway-v19-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway/raleway-v19-latin_cyrillic-700.svg#Raleway") format("svg");
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px 0;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--dark-color);
}

.logo__text {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.socials {
  display: flex;
  padding: 0 32px 30px;
}

.socials__item {
  display: inline-flex;
}

.socials__item:not(:first-child) {
  margin-left: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__link:hover .socials-icon, .socials__link:focus .socials-icon {
  fill: var(--light-text-color);
}

.socials__footer {
  padding: 0;
}

.socials__link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon--color {
  fill: var(--light-text-color);
}

.address {
  margin-bottom: 9px;
  font-style: normal;
  line-height: 1.71;
  color: var(--light-text-color);
}

.address__text {
  margin-bottom: 0;
}

.form {
  display: flex;
}

.form__input {
  width: 358px;
  padding: 14px 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
  background-color: var(--dark-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__btn-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--light-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 99;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: inherit;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover .modal__btn-icon,
.modal__btn-close:focus .modal__btn-icon {
  fill: var(--accent-color);
}

.modal__btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: var(--dark-color);
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.modal-form__block {
  margin-bottom: 10px;
}

.modal-form__block:hover .modal-form__input {
  border-color: var(--accent-color);
}

.modal-form__label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form__box {
  position: relative;
}

.modal-form__input {
  padding: 11px 35px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border: 1px solid var(--accent-color);
  outline: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__block:hover .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  margin-bottom: 20px;
}

.modal-form__comment:hover .modal-form__field {
  border-color: var(--accent-color);
}

.modal-form__field {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  vertical-align: top;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field:focus {
  border: 1px solid var(--accent-color);
  outline: var(--accent-color);
}

.modal-form__field::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__btn {
  display: block;
  margin: 0 auto;
}

.modal-checkbox {
  margin-bottom: 30px;
}

.modal-checkbox__label {
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.03em;
}

.modal-checkbox__icon-box {
  position: relative;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__input:hover + .modal-checkbox__icon-box,
.modal-checkbox__input:focus + .modal-checkbox__icon-box {
  border-color: var(--accent-color);
}

.modal-checkbox__input:checked + .modal-checkbox__icon-box {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-checkbox__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--light-text-color);
}

.modal-checkbox__link {
  margin-left: 5px;
  color: var(--accent-color);
}

.portfolio-nav__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  color: var(--second-color);
  background-color: var(--light-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav__btn:hover, .portfolio-nav__btn:focus {
  color: var(--light-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  margin-top: -30px;
  margin-left: -30px;
}

.card-set__item {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 16px;
  line-height: 1.87;
}

.card-set__link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__link:hover, .card-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__link:hover .overlay, .card-set__link:focus .overlay {
  transform: translateX(0);
}

.card-product {
  position: relative;
  overflow: hidden;
}

.card-product__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-product__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.card-product__text {
  margin-bottom: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__text {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 322px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
  transform: translate(-50%, -50%);
}

.section {
  padding: 94px 0;
}

.nav__logo {
  margin-right: 93px;
}

.nav__list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.nav__item:not(:last-child),
.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.link--padding {
  padding: 32px 0;
}

.header-contacts {
  margin-left: auto;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header--underline {
  border-bottom: 1px solid #ececec;
}

.hero {
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--dark-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% / 12 * 7);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.advantages {
  padding-bottom: 0;
}

.advantages__list {
  display: flex;
  line-height: 1.71;
}

.advantages__item {
  width: calc(100% / 4);
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__item::before {
  content: '';
  display: flex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--light-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url("../images/icons/icon-antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/icons/icon-clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/icons/icon-diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/icons/icon-astronaut.svg");
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-color);
}

.services__list {
  display: flex;
}

.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__content {
  position: relative;
}

.services__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--light-bg-color);
}

.team__list {
  display: flex;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__item {
  width: calc(100% / 4);
  background-color: var(--light-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__info {
  padding: 30px 0 16px;
}

.team__member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.team__text {
  margin-bottom: 0;
}

.clients__list {
  display: flex;
}

.clients__item {
  width: calc((100% - 5 * 30px) / 6);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  height: 90px;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__info,
.footer__social {
  width: calc((50% - 45px) / 2);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--light-text-color);
}

.footer__contacts {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer__contacts-item:first-child {
  padding-bottom: 9px;
}

.footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.footer__sub {
  width: calc(50% - 15px);
}
/*# sourceMappingURL=main.css.map */