.card-product {
  position: relative;
  overflow: hidden;
}

.card-product__content {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.card-product__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.card-product__text {
  margin-bottom: 0;
}
