.modal-checkbox {
  margin-bottom: 30px;
}

.modal-checkbox__label {
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.03em;
}

.modal-checkbox__icon-box {
  position: relative;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__input:hover + .modal-checkbox__icon-box,
.modal-checkbox__input:focus + .modal-checkbox__icon-box {
  border-color: var(--accent-color);
}

.modal-checkbox__input:checked + .modal-checkbox__icon-box {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-checkbox__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--light-text-color);
}

.modal-checkbox__link {
  margin-left: 5px;
  color: var(--accent-color);
}
